.Burger{
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.price{
  width: 50%;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 1000px) and (min-height: 700px){
  .Burger {
    width: 700px;
    height: 500px;
  }
}

@media (min-width: 800px) and (min-height: 400px){
  .Burger {
    width: 600px;
    height: 401px;
  }
}
